/* ~~~~~~~~~~~~~~~~~~~~~~ std defines functional stuff ~~~~~~~~~~~~~~~~~~~~~~ */
/* basic reset */
.std code { padding: 1px 2px; background-color: #F0F0F0; white-space: pre-wrap; }
.std code strong { color: #FF4136; }
.std p code { white-space: pre; }
.std pre { padding: 5px; margin: 3px 0; line-height: 1.4em; background-color: #F0F0F0; }
.std pre code { background-color: inherit; padding: 0; }
.std kbd { font-family: "Source Sans Pro", monospace; font-size: 8px; background: #bbb; color: #222; min-width: 18px; height: 18px; display: inline-block;  padding: 5px 3px 1px 15px; line-height: 18px; text-align: right; border-radius: 4px; border: 2px outset #ccc; }
.std kbd.single { padding: 3px 3px 3px 3px; text-align: left; font-size: 14px; line-height: 16px; }
.std del { background-color: rgba(255, 65, 54, 0.5); color: #666; }
.std del.block { display: block; margin: 0 0 2em -1em; padding-left: 0.5em; border-left: 0.5em solid #FF4136; text-decoration: none; background-color: transparent; }
.std ins { background-color: rgba(46, 204, 64, 0.5); text-decoration: none; }
.std ins.block { display: block; margin: 0 0 2em -1em; padding-left: 0.5em; border-left: 0.5em solid #2ECC40; background-color: transparent; }
.std def { font-weight: bold; font-style: italic; }
.std hr { border-width: 0; background-color: #999; height: 1px; }
.std blockquote { border-left: 2px solid #0074D9; padding-left: 5px; margin: 0.3em 0.5em; font-style: italic; }
.std blockquote p { text-align: left; margin: 0 auto; display: table; }
.std footer { font-style: normal; }
.std a[href ^= '#'] { text-decoration: none; }
.std a.bd-page { text-decoration: none; }
.std a[href ^= "http"]:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);    
}
.std caption.top { caption-side: top; }
.std caption.bottom { caption-side: bottom; }
.std table { border-spacing: 0 0; border-collapse: collapse; }
.std tr { border-width: 1px; border-color: grey; }
.std td, 
.std th { padding: 3px; border-style: none; border-width: 1px; border-color: grey; }

/* paddings */
.std .p-2em,
.std tr.p-2em > *,
.std table.p-2em tr > * { padding: 2em 0 !important; }

/* borders */
.std .bw-1, .std tr.bw-1 > * { border-width: 1px; border-style: solid; }
.std .bw-2, .std tr.bw-2 > * { border-width: 2px; border-style: solid; }
.std .bw-3, .std tr.bw-3 > * { border-width: 3px; border-style: solid; }
.std .bw-4, .std tr.bw-4 > * { border-width: 4px; border-style: solid; }
.std .bw-5, .std tr.bw-5 > * { border-width: 5px; border-style: solid; }

.std .bts-solid { border-top-style: solid;  }
.std .bbs-solid { border-bottom-style: solid;  }
.std .bls-solid, 
.std tr.bls-solid > * { border-left-style: solid; }
.std .brs-solid,
.std tr.brs-solid > * { border-right-style: solid; }

/* paper formats */
.std .a4 { max-width: 21cm; padding: 0 6.5%; margin: 0 auto 0 0; box-sizing: border-box; }
.std .a5 { max-width: 14.8cm; padding: 0 6.5%; margin: 0 auto 0 0; box-sizing: border-box; }
.std .a6 {  max-width: 10.5cm; padding: 0 6.5%; margin: 0 auto 0 0; box-sizing: border-box; }
.std .minipage { box-sizing: border-box; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ clr defines colors ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* standard colors - http://clrs.cc/ */
.clr .c-white  { color: #FFFFFF; }
.clr .c-silver { color: #DDDDDD; }
.clr .c-gray   { color: #AAAAAA; }
.clr .c-black  { color: #111111; }
.clr .c-blue   { color: #0074D9; }
.clr .c-aqua   { color: #7FDBFF; }
.clr .c-teal   { color: #39CCCC; }
.clr .c-olive  { color: #3D9970; }
.clr .c-green  { color: #2ECC40; }
.clr .c-lime   { color: #01FF70; }
.clr .c-yellow { color: #FFDC00; }
.clr .c-orange { color: #FF851B; }
.clr .c-red    { color: #FF4136; }
.clr .c-maroon { color: #85144b; }
.clr .c-fuchsia{ color: #F012BE; }
.clr .c-purple { color: #B10DC9; }

.clr .bc-white  { background-color: #FFFFFF; }
.clr .bc-silver { background-color: #DDDDDD; }
.clr .bc-gray   { background-color: #AAAAAA; }
.clr .bc-black  { background-color: #111111; }
.clr .bc-blue   { background-color: #0074D9; }
.clr .bc-aqua   { background-color: #7FDBFF; }
.clr .bc-teal   { background-color: #39CCCC; }
.clr .bc-olive  { background-color: #3D9970; }
.clr .bc-green  { background-color: #2ECC40; }
.clr .bc-lime   { background-color: #01FF70; }
.clr .bc-yellow { background-color: #FFDC00; }
.clr .bc-orange { background-color: #FF851B; }
.clr .bc-red    { background-color: #FF4136; }
.clr .bc-maroon { background-color: #85144b; }
.clr .bc-fuchsia{ background-color: #F012BE; }
.clr .bc-purple { background-color: #B10DC9; }

.clr .bc-white50  , .clr u.label-1  { background-color: rgba(255, 255, 255, 0.5); }
.clr .bc-silver50 , .clr u.label-2  { background-color: rgba(221, 221, 221, 0.5); }
.clr .bc-gray50   , .clr u.label-3  { background-color: rgba(170, 170, 170, 0.5); }
.clr .bc-black50  , .clr u.label-4  { background-color: rgba(17, 17, 17, 0.5); }
.clr .bc-blue50   , .clr u.label-5  { background-color: rgba(0, 116, 217, 0.5); }
.clr .bc-aqua50   , .clr u.label-6  { background-color: rgba(127, 219, 255, 0.5); }
.clr .bc-teal50   , .clr u.label-7  { background-color: rgba(57, 204, 204, 0.5); }
.clr .bc-olive50  , .clr u.label-8  { background-color: rgba(61, 153, 112, 0.5); }
.clr .bc-green50  , .clr u.label-9  { background-color: rgba(46, 204, 64, 0.5); }
.clr .bc-lime50   , .clr u.label-10 { background-color: rgba(1, 255, 112, 0.5); }
.clr .bc-yellow50 , .clr u.label-11 { background-color: rgba(255, 220, 0, 0.5); }
.clr .bc-orange50 , .clr u.label-12 { background-color: rgba(255, 133, 27, 0.5); }
.clr .bc-red50    , .clr u.label-13 { background-color: rgba(255, 65, 54, 0.5); }
.clr .bc-maroon50 , .clr u.label-14 { background-color: rgba(133, 20, 75, 0.5); }
.clr .bc-fuchsia50, .clr u.label-15 { background-color: rgba(240, 18, 190, 0.5); }
.clr .bc-purple50 , .clr u.label-16 { background-color: rgba(177, 13, 201, 0.5); }

.clr .bc--white  , .clr tr.bc--white   > *, .clr u.label-1  { border-color: #FFFFFF; }
.clr .bc--silver , .clr tr.bc--silver  > *, .clr u.label-2  { border-color: #DDDDDD; }
.clr .bc--gray   , .clr tr.bc--gray    > *, .clr u.label-3  { border-color: #AAAAAA; }
.clr .bc--black  , .clr tr.bc--black   > *, .clr u.label-4  { border-color: #111111; }
.clr .bc--blue   , .clr tr.bc--blue    > *, .clr u.label-6  { border-color: #0074D9; }
.clr .bc--aqua   , .clr tr.bc--aqua    > *, .clr u.label-7  { border-color: #7FDBFF; }
.clr .bc--teal   , .clr tr.bc--teal    > *, .clr u.label-8  { border-color: #39CCCC; }
.clr .bc--olive  , .clr tr.bc--olive   > *, .clr u.label-9  { border-color: #3D9970; }
.clr .bc--green  , .clr tr.bc--green   > *, .clr u.label-10 { border-color: #2ECC40; }
.clr .bc--lime   , .clr tr.bc--lime    > *, .clr u.label-11 { border-color: #01FF70; }
.clr .bc--yellow , .clr tr.bc--yellow  > *, .clr u.label-12 { border-color: #FFDC00; }
.clr .bc--orange , .clr tr.bc--orange  > *, .clr u.label-13 { border-color: #FF851B; }
.clr .bc--red    , .clr tr.bc--red     > *, .clr u.label-14 { border-color: #FF4136; }
.clr .bc--maroon , .clr tr.bc--maroon  > *, .clr u.label-15 { border-color: #85144b; }
.clr .bc--fuchsia, .clr tr.bc--fuchsia > *, .clr u.label-16 { border-color: #F012BE; }
.clr .bc--purple , .clr tr.bc--purple  > *, .clr u.label-17 { border-color: #B10DC9; }

.clr aside.note { border-left-width: 5px; border-left-style: solid; color: #444; }
.clr aside.note.info { background: rgba(255, 220, 0, 0.25); border-color: rgba(255, 220, 0, 0.5); }
.clr aside.note.todo { background: rgba(255, 133, 27, 0.25); border-color: rgba(255, 133, 27, 0.5); }
.clr aside.note.obsolete { background: rgba(255, 65, 54, 0.25); border-color: rgba(255, 65, 54, 0.5); }

/* ~~~~~~~~~~~~~~~~~~ web defines a classic web-like style ~~~~~~~~~~~~~~~~~~ */
/* viewport types */
.web .scroll { min-height: 100%; }
.web .pager { background-color: #ccc; }
.web .paper div { background-color: white; border: 1px outset #ccc; }
.web .page > div { max-width: 40em; margin: 0 auto; padding: 1cm 0; }
.web .screen { height: 100%; }
.web .screen > div { width: 800px; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.web .web > div > h2, .web > div > h3, .web > div > h4, .web > div > h5, .web > div > h6 { margin-left: -25px; }
.web .web > div > h1 { text-align: center; margin-left: -25px; }

/* fonts */
.web .ff-serif { font-family: Georgia, Garamond, Palatino !important; }
.web .ff-sans  { font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif !important; }
.web .ff-mono  { font-family: Cousine, monospace !important; }

/* semantic text-styles */
.web u.spelling { display: inline-block; border-bottom: 1px dashed #FF4136; text-decoration: none; }
.web u.grammar  { display: inline-block; border-bottom: 1px dashed #0074D9; text-decoration: none; }

/* labels */
.web u[class^='label'] { display: inline-block; padding: 4px; margin: 1px; border-left-width: 5px; border-left-style: solid; text-decoration: none; line-height: 1em; font-size: 11px; font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; border-radius: 3px; color: #444; }

/* notes */
.web aside.note { padding: 10px; margin-bottom: 20px; overflow: hidden; clear: both; font-size: 12px; font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; line-height: 1.4; }

/* examples */
.web table.describe, table.example { width: 100%; border-spacing: 5px 0; }
.web table.describe td { width: 50%; vertical-align: top; }
.web table.example td { width: 50%; }
.web pre.source { white-space: pre-wrap; margin: 0; }
.web pre.source span { color: #ccc; }
.web pre.source span:before{ content: '\2423'; position: absolute; }
.web .output { border-left: 5px solid #ccc; padding-left: 10px; }
.output h1, .output h2, .output h3, .output h4, .output h5, .output h6 { margin-top: 0.3em !important; }
