@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic);

/* paper formats */
.a4 { max-width: 21cm; padding: 0 3cm; margin: 0 auto; box-sizing: border-box; }
.a5 { max-width: 14.8cm; padding: 0 2cm; margin: 0 auto; box-sizing: border-box; }
.a6 {  max-width: 10.5cm; padding: 0 1.5cm; margin: 0 auto; box-sizing: border-box; }

/* viewport types */
.scroll { min-height: 100%; }
.pager { background-color: #ccc; }
.paper div { background-color: white; border: 1px outset #ccc; }
.page > div { max-width: 40em; margin: 0 auto; padding: 1cm 0; }
.screen { height: 100%; }
.screen > div { width: 800px; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }


/* fonts */
.ff-sans { font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif !important; }
.ff-mono { font-family: Cousine, monospace !important; }

/* standard colors - http://clrs.cc/ */
.c-navy   { color: #001f3f; }
.c-blue   { color: #0074D9; }
.c-aqua   { color: #7FDBFF; }
.c-teal   { color: #39CCCC; }
.c-olive  { color: #3D9970; }
.c-green  { color: #2ECC40; }
.c-lime   { color: #01FF70; }
.c-yellow { color: #FFDC00; }
.c-orange { color: #FF851B; }
.c-red    { color: #FF4136; }
.c-maroon { color: #85144b; }
.c-fuchsia{ color: #F012BE; }
.c-purple { color: #B10DC9; }
.c-black  { color: #111111; }
.c-gray   { color: #AAAAAA; }
.c-silver { color: #DDDDDD; }
.c-white  { color: #FFFFFF; }

.bc-navy   { background-color: #001f3f; }
.bc-blue   { background-color: #0074D9; }
.bc-aqua   { background-color: #7FDBFF; }
.bc-teal   { background-color: #39CCCC; }
.bc-olive  { background-color: #3D9970; }
.bc-green  { background-color: #2ECC40; }
.bc-lime   { background-color: #01FF70; }
.bc-yellow { background-color: #FFDC00; }
.bc-orange { background-color: #FF851B; }
.bc-red    { background-color: #FF4136; }
.bc-maroon { background-color: #85144b; }
.bc-fuchsia{ background-color: #F012BE; }
.bc-purple { background-color: #B10DC9; }
.bc-black  { background-color: #111111; }
.bc-gray   { background-color: #AAAAAA; }
.bc-silver { background-color: #DDDDDD; }
.bc-white  { background-color: #FFFFFF; }

.bc--navy   { border-color: #001f3f; }
.bc--blue   { border-color: #0074D9; }
.bc--aqua   { border-color: #7FDBFF; }
.bc--teal   { border-color: #39CCCC; }
.bc--olive  { border-color: #3D9970; }
.bc--green  { border-color: #2ECC40; }
.bc--lime   { border-color: #01FF70; }
.bc--yellow { border-color: #FFDC00; }
.bc--orange { border-color: #FF851B; }
.bc--red    { border-color: #FF4136; }
.bc--maroon { border-color: #85144b; }
.bc--fuchsia{ border-color: #F012BE; }
.bc--purple { border-color: #B10DC9; }
.bc--black  { border-color: #111111; }
.bc--gray   { border-color: #AAAAAA; }
.bc--silver, tr.bc--silver td { border-color: #DDDDDD; }
.bc--white  { border-color: #FFFFFF; }

/* borders */
.bw-1, tr.bw-1 td { border-width: 1px; border-style: solid; }
.bw-2, tr.bw-2 td { border-width: 2px; border-style: solid; }
.bw-3, tr.bw-3 td { border-width: 3px; border-style: solid; }
.bw-4, tr.bw-4 td { border-width: 4px; border-style: solid; }
.bw-5, tr.bw-5 td { border-width: 5px; border-style: solid; }

/* semantic colors */
*[class^="c-"], *[class^="bc-"] { text-decoration: none; }
.c-success  { color: #2ECC40; }
.bc-success { background-color: #2ECC40; }
.c-info     { color: #7FDBFF; }
.bc-info    { background-color: #7FDBFF; }
.c-caution  { color: #FFDC00; }
.bc-caution { background-color: #FFDC00; }
.c-warning  { color: #FF851B; }
.bc-warning { background-color: #FF851B; }
.c-danger  { color: #FF4136; }
.bc-danger { background-color: #FF4136; }
.c-alert  { color: #F012BE; }
.bc-alert { background-color: #F012BE; }

/* semantic text-styles */
.spelling { display: inline-block; border-bottom: 1px dashed #FF4136; text-decoration: none; }
.grammar  { display: inline-block; border-bottom: 1px dashed #0074D9; text-decoration: none; }

/* margins + paddings */
.cp-2 td, .cp-2 th { padding: 2em 0 !important; }

p { margin: 0; padding: 0; line-height: 1.5; }
p + p, * + p { margin: 0.6em 0 0.4em 0; padding: 0; }
p:first-child + * { margin-top: 0.6em; }

/* basic reset */
body { padding: 0; margin: 0; }

h1,h2,h3,h4,h5,h6 { clear: both; margin-top: 2em; }
h1 a[id],h2 a[id],h3 a[id],h4 a[id],h5 a[id],h6 a[id] { display: none; }

code { padding: 1px 5px; background-color: #F0F0F0; white-space: pre-wrap; }
pre { padding: 5px; margin: 3px 0; line-height: 1.4em; background-color: #F0F0F0; }
pre code { background-color: inherit; padding: 0; }

kbd { font-family: "Source Sans Pro", monospace; font-size: 12px; background: #bbb; min-width: 18px; height: 18px; display: inline-block; vertical-align: center; padding: 3px; line-height: 18px; text-align: center; border-radius: 4px; border: 2px outset #ccc; }
del { background-color: #FF4136; opacity: 0.5; }
del.block { display: block; margin: 0 0 2em -1em; padding-left: 0.5em; border-left: 0.5em solid #FF4136; text-decoration: none; background-color: transparent; }
ins { background-color: #7fff8c; text-decoration: none; }
ins.block { display: block; margin: 0 0 2em -1em; padding-left: 0.5em; border-left: 0.5em solid #2ECC40; background-color: transparent; }
def { font-weight: bold; font-style: italic; }

hr { border-width: 0; background-color: #999; height: 1px; }
blockquote { font-style: italic; display: table; text-align: left; margin: 0 auto; border-left: 2px solid #0074D9; padding-left: 5px; }
footer { font-style: normal; }

a[href ^= "http"]:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);    
}

caption.top { caption-side: top; }
caption.bottom { caption-side: bottom; }

pre.source { white-space: pre-wrap; margin: 0; }
pre.source span { color: #ccc; }

table.describe, table.example { width: 100%; border-spacing: 5px 0; }
table.describe td { width: 50%; vertical-align: top; }
table.example td { width: 50%; }

table.user { border-spacing: 0 0; border-collapse: collapse; }
.user td, .user th { padding: 3px; }
.user tr.tborder > * { border-top: 2px solid black;  }
.user tr.bborder > * { border-bottom: 2px solid black;  }
.user tr .lborder { border-left: 1px solid black; }
.user tr .rborder { border-right: 1px solid black; }

